{% extends "base.html" %}

{% block content %}

<section class="py-1">
    <div class="row mt-5">
        <div class="col-lg-8 offset-lg-2">
            <h3>Download Excel by Name</h3>
            <hr>
            <form class="form" method="post" action="/export_excel_byname">

                <div class="form-group row">
                    <label for="txtnbr" class="col-sm-2 col-form-label">Nama</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="txtnbr" id="txtnbr">
                            {% for item in data %}
                            <option value={{item[0]}}>{{item[1]}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtdateawal" class="col-sm-2 col-form-label">Tanggal Awal</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control"  id="txtdateawal" name="txtdateawal" required>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="txtdateakhir" class="col-sm-2 col-form-label">Tanggal Akhir</label>
                    <div class="col-sm-8">
                        <input type="date" class="form-control" id="txtdateakhir" name="txtdateakhir" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label"></label>
                    <div class="col-sm-8">
                        <input type="submit" class="btn btn-primary btn-lg" value="Download">
                        <a href="/petugas" type="button" class="btn btn-warning btn-lg"><b>Back</b></a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

</body>
{% endblock %}